{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Y Tech</title>
<link rel="stylesheet" href="{% static 'calc/styles/com_phn_tab.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Molengo&display=swap" rel="stylesheet"> 
</head>
<body>
<div class="header">
<div class="box">
<div class="navbar">
<div class="logo">
<img src="{% static 'calc/images/logo.png' %}" width="125px">
</div>
<nav>
<ul >
<li><a href="{% url 'home_page'%}">Home</a></li>
<li><a href="phones">Phones</a></li>
<li><a href="tablet">Tablets</a></li>
<li><a href="television">Televisions</a></li>
<li><a href="computer">Computers</a></li>
<li><a href="gaming">Gaming Systems</a></li>
<li><a href="about">About</a></li>
<li><a href="contact">Contact</a></li>
</ul>
</nav>
</div>
</div>
</div>
<div class="phones">
<h1>Gaming Desktop + Gaming PCs - Computers At Y Tech</h1>
<br>
<p class="pp">All the big brand gaming desktops such as iBUYPOWER, Skytech, and Ryzen, mean a heap of power, the latest graphics, and designs that make it easier for you to play longer. Y Tech’s gaming PCs also include big storage models, brand new OS, and accessories to help take your game play to the next level.</p>
<br>
<br>
</div>
</div>
<div class="products">
<div class="row">
<div class="t1">
<h2>iBUYPOWER Pro Gaming PC Computer Desktop Element MR 208i (Intel i7-11700F 2.5GHz,NVIDIA GeForce RTX 2060 6GB, 16GB DDR4, 240GB SSD, 1TB HDD, WiFi Ready, Windows 10 Home)</h2>
</div>
<div class="t1">
<h2>MSI MEG Aegis TI5 10TE-006EU Intel Core i7 10900KF 128GB 3TB + 2TB SSD RTX 3080 Windows 10 Pro Masaüstü Bilgisayar</h2>
</div>
</div>
<div class="row">
    <div class="t1">
    <img src="{% static 'calc/images/ppc1.jpg' %}">
    </div>
    <div class="t1">
    <img src="{% static 'calc/images/ccp2.jpg' %}">
    </div>
    </div>
    <div class="row">
    <div class="c4">
    <button class="button">Add to Cart</button>
    <select class ="button" name="quantity" id="quantity">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    </div>
    <div class="c4">
    <button class="button">Add to Cart</button>
    <select class ="button" name="quantity" id="quantity">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
    <div class="t1">
    <h2>Skytech Omega Gaming PC Desktop - Intel Core-i9 10900K 3.7GHz, RTX 3090 24GB, 32GB 3600 RGB MEM, 1TB NVME, Z490 Motherboard, White</h2>
    </div>
    <div class="t1">
    <h2>Titan Gaming PC - GeForce RTX 3070 | Ryzen 7 5700X</h2>
    </div>
    </div>
    <div class="row">
    <div class="t1">
    <img src="{% static 'calc/images/q2q2.jpg' %}">
    </div>
    <div class="t1">
    <img src="{% static 'calc/images/1ww.jpg' %}">
    </div>
    </div>
    <div class="row">
    <div class="c4">
    <button class="button">Add to Cart</button>
    <select class ="button" name="quantity" id="quantity">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    </div>
    <div class="c4">
    <button class="button">Add to Cart</button>
    <select class ="button" name="quantity" id="quantity">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    </div>
    </div>
    </div>
    <div class="footer">
    <div class="row">
    <div class="c3">
    <a href=""><img src="{% static 'calc/images/social.png' %}" href=""></a>
    </div>
    <div class="c3">
    <h3>Contact</h3>
    <p>Phone: (02) 4568 2445</p>
    <p>Email: ytech@yahoo.com</p>
    </div>
    <div class="c3">
    <h3>Address</h3>
    <p>23 Hunter Street</p>
    <p>Broome W.A 6725</p>
    </div>
    </div>
    </div>
    </body>
    </html>
    