{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Y Tech</title>
<link rel="stylesheet" href="{% static 'calc/styles/com_phn_tab.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Molengo&display=swap" rel="stylesheet"> 
</head>
<body>
<div class="header">
<div class="box">
<div class="navbar">
<div class="logo">
<img src="{% static 'calc/images/logo.png' %}" width="125px">
</div>
<nav>
<ul >
<li><a href="{% url 'home_page'%}">Home</a></li>
<li><a href="phones">Phones</a></li>
<li><a href="tablet">Tablets</a></li>
<li><a href="television">Televisions</a></li>
<li><a href="computer">Computers</a></li>
<li><a href="gaming">Gaming Systems</a></li>
<li><a href="about">About</a></li>
<li><a href="contact">Contact</a></li>
</ul>
</nav>
</div>
</div>
</div>
<div class="phones">
<h1>Samsung Galaxy Tablets . ipads</h1>
<br>
<p>Samsung Pad and iPad's Best Sellers of the Month</p>
<br>
<br>
</div>
</div>
<div class="products">
<div class="row">
<div class="c4">
<h2>Galaxy Tab s4</h2>
</div>
<div class="c4">
<h2>Galaxy Tab s8</h2>
</div>
<div class="c4">
<h2>Galaxy Tab s4</h2>
</div>
<div class="c4">
<h2>Galaxy A 8.0</h2>
</div>
</div>
<div class="row">
    <div class="c4">
    <img src="{% static 'calc/images/pad4.jpg' %}">
    </div>
    <div class="c4">
    <img src="{% static 'calc/images/pad1.jpg' %}">
    </div>
    <div class="c4">
    <img src="{% static 'calc/images/pad2.jpg' %}">
    </div>
    <div class="c4">
    <img src="{% static 'calc/images/pad3.jpg' %}">
    </div>
    </div>
    <div class="row">
    <div class="c4">
    <button class="button">Add to Cart</button>
    <select class ="button" name="quantity" id="quantity">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    </div>
    <div class="c4">
    <button class="button">Add to Cart</button>
    <select class ="button" name="quantity" id="quantity">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    </div>
    <div class="c4">
    <button class="button">Add to Cart</button>
    <select class ="button" name="quantity" id="quantity">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    </div>
    <div class="c4">
    <button class="button">Add to Cart</button>
    <select class ="button" name="quantity" id="quantity">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
    <div class="c4">
    <h2>ipad Mini 5</h2>
    </div>
    <div class="c4">
    <h2>ipad Pro 3</h2>
    </div>
    <div class="c4">
    <h2>ipad Pro 4</h2>
    </div>
    <div class="c4">
    <h2>ipad Mini 6</h2>
    </div>
    </div>
    <div class="row">
    <div class="c4">
    <img src="{% static 'calc/images/ipad6.jpg' %}">
    </div>
    <div class="c4">
    <img src="{% static 'calc/images/ipad10.jpg' %}">
    </div>
    <div class="c4">
    <img src="{% static 'calc/images/ipad12.jpg' %}">
    </div>
    <div class="c4">
    <img src="{% static 'calc/images/ipad13.jpg' %}">
    </div>
    </div>
    <div class="row">
    <div class="c4">
    <button class="button">Add to Cart</button>
    <select class ="button" name="quantity" id="quantity">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    </div>
    <div class="c4">
    <button class="button">Add to Cart</button>
    <select class ="button" name="quantity" id="quantity">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    </div>
    <div class="c4">
    <button class="button">Add to Cart</button>
    <select class ="button" name="quantity" id="quantity">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    </div>
    <div class="c4">
    <button class="button">Add to Cart</button>
    <select class ="button" name="quantity" id="quantity">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    </div>
    </div>
    </div>
    <div class="footer">
    <div class="row">
    <div class="c3">
    <a href=""><img src="{% static 'calc/images/social.pngs' %}" href=""></a>
    </div>
    <div class="c3">
    <h3>Contact</h3>
    <p>Phone: (02) 4568 2445</p>
    <p>Email: ytech@yahoo.com</p>
    </div>
    <div class="c3">
    <h3>Address</h3>
    <p>23 Hunter Street</p>
    <p>Broome W.A 6725</p>
    </div>
    </div>
    </div>
    </body>
    </html>
    