{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Y Tech</title>
<link rel="stylesheet" href="{% static 'calc/styles/com_phn_tab.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@700&family=Pacifico&family=Smooch&display=swap" rel="stylesheet">
</head>
<body>
<div class="header">
<div class="box">
<div class="navbar">
<div class="logo">
<img src="{% static 'calc/images/logo.png' %}" width="125px">
</div>
<nav>
<ul >
<li><a href="{% url 'home_page'%}">Home</a></li>
<li><a href="phones">Phones</a></li>
<li><a href="tablet">Tablets</a></li>
<li><a href="television">Televisions</a></li>
<li><a href="computer">Computers</a></li>
<li><a href="gaming">Gaming Systems</a></li>
<li><a href="about">About</a></li>
<li><a href="contact">Contact</a></li>
</ul>
</nav>
</div>
</div>
</div>
<div class="t2">
<h1>Samsung TVs - Buy Best Samsung Smart TVs At Y Tech</h1>
<br>
<p class="ppp">Shop our range of Samsung TVs and discover why they’re one of the biggest entertainment brands on the world. Y Tech’s range includes QLED and UHD Samsung TVs, 4K and 8K Ultra HD, Full HD, and a heap of different sizes. Choose the right Smart TV for your home, and enjoy the latest screen and audio technology.</p>
<br>
<br>
</div>
</div>
<div class="products">
<div class="row">
<div class="t1">
<h2>85" BU8000 Crystal UHD Smart TV (2022)</h2>
</div>
<div class="t1">
<h2>85" AU8000 Crystal UHD 4K Smart TV (2021)</h2>
</div>
</div>
<div class="row">
    <div class="t1">
    <img src="{% static 'calc/images/tv25.jpg' %}">
    </div>
    <div class="t1">
    <img src="{% static 'calc/images/tv10.jpg' %}">
    </div>
    </div>
    <div class="row">
    <div class="c4">
    <button class="button">Add to Cart</button>
    <select class ="button" name="quantity" id="quantity">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    </div>
    <div class="c4">
    <button class="button">Add to Cart</button>
    <select class ="button" name="quantity" id="quantity">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
    <div class="t1">
    <h2>75" QN95B Neo QLED 4K Smart TV (2022)</h2>
    </div>
    <div class="t1">
    <h2>85" Q70B UHD 4K Smart TV (2022)</h2>
    </div>
    </div>
    <div class="row">
    <div class="t1">
    <img src="{% static 'calc/images/tv20.jpg' %}">
    </div>
    <div class="t1">
    <img src="{% static 'calc/images/tv4.jpg' %}">
    </div>
    </div>
    <div class="row">
    <div class="c4">
    <button class="button">Add to Cart</button>
    <select class ="button" name="quantity" id="quantity">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    </div>
    <div class="c4">
    <button class="button">Add to Cart</button>
    <select class ="button" name="quantity" id="quantity">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    </div>
    </div>
    </div>
    <div class="footer">
    <div class="row">
    <div class="c3">
    <a href=""><img src="{% static 'calc/images/social.png' %}" href=""></a>
    </div>
    <div class="c3">
    <h3>Contact</h3>
    <p>Phone: (02) 4568 2445</p>
    <p>Email: ytech@yahoo.com</p>
    </div>
    <div class="c3">
    <h3>Address</h3>
    <p>23 Hunter Street</p>
    <p>Broome W.A 6725</p>
    </div>
    </div>
    </div>
    </body>
    </html>
    